.wrapper {
    width: 100%;
    height: fit-content;
}

.text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text > h1 {
    width: 220px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-align: center;
    color: #FDFDFF;
}
