.wrapper {
    width: 100%;
    height: fit-content;
}

.banner {
    height: 117px;
    background-color: #62929E;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner > h1 {
    width: 220px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-align: center;
    color: #FDFDFF;
}
