.wrapperDiv {
  background-color: #393D3F;
  width: 390px;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  border: solid 1px black;
  
}


.basicBar {
  background-color: #C6C5B9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 23.5rem;
  height: 66px;
  font-weight: bolder;
  color: #FDFDFF;
}

.amount {
  border-radius: 20px;
  background-color: #546A7B;
  font-size: 12px;
  width: 5.75rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  border-radius: 20px;
  background-color: #546A7B;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 50px;
}




@media (max-width: 389px) {
  .wrapperDiv {
    background-color: #FBF8F1;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 19px;
  }

  .basicBar {
    background-color: #546A7B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    font-weight: bolder;
    padding: 5px;
    gap: 5px;
  }

   

  .amount {
    border-radius: 20px;
    background-color: #546A7B;
    font-size: 12px;
    width: 92px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    border-radius: 20px;
    background-color: #546A7B;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 50px;
  }

  
}