.date {
    border-radius: 20px;
    background-color: #546A7B;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 50px;
    font-weight: bolder;
 }


  .month {
     font-size: small;
  }

  .year {
      font-size: small;
  }

  .day {
      font-size: large;
  }