.button {
  width: 100px;
  height: 40px;;
  background-color: #546A7B;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FDFDFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}